services:
  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    user: 1000:1000   # Вказуємо ID вашого користувача (ruban), щоб не було проблем з правами
    ports:
      - "8096:8096" # Головний порт для веб-інтерфейсу та додатків
      # - "8920:8920" # HTTPS (поки не використовуємо, можна закоментувати)
      # - "1900:1900/udp" # DLNA (не завжди працює через Bridge, але для додатків не критично)
      # - "7359:7359/udp" # Auto-discovery
    volumes:
      - ./config:/config              # Зберігаємо налаштування тут
      - ./cache:/cache                # Зберігаємо кеш тут
      # ПІДКЛЮЧАЄМО ВАШ SSD (Тільки читання для безпеки: ro)
      - /mnt/ssd_storage/Admin_Files/Videos:/media/movies:ro
      - /mnt/ssd_storage/Admin_Files/Photos:/media/photos:ro
    devices:
      # МАГІЯ: Прокидаємо відеокарту Intel у контейнер для транскодування
      - /dev/dri/renderD128:/dev/dri/renderD128
      - /dev/dri/card0:/dev/dri/card0
    restart: unless-stopped
